@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://googleapis.com');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-spectral-cs {
    font-family: 'Spectral SC', serif !important;
    font-variant: small-caps; 
  }
}

@theme {
    --font-spectral: "Spectral SC", serif;
    --color-holy-yellow: #6D620D;
    --color-accent: #912A2C;
    --color-secondary: #431414;
    --color-light: #E6E3E3;
    --color-dark: #161616;
    --color-gray: #362F2F;
}

@layer utilities {
    .text-glow {
        text-shadow: 0 0 20px #6d620d, 0 0 40px #6d620d, 0 0 60px #6d620d;
    }
}

@layer base {
    .font-spectral {
        font-family: 'Spectral SC', serif;
    }

    html {
        scroll-behavior: smooth;
    }
}